# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
